<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QQChatSimple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CCAC3261DCACF0E00C7A2B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CCAC33F1DCACF0F00C7A2B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CCAC34A1DCACF0F00C7A2B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
